body {
  margin: 0;
  font-family: Cinzel;
}
/*Navigation CSS STARTS*/
.topnav {
  overflow: hidden;
  background-color: #32004F;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2vw 12vw;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .active {
  background-color: #4E8892;
  color: #000000;
}
/*Navigation CSS ENDS*/
/*background images*/
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../img/image1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}
.bg2 {
  background-image: url("../img/image3.png");
  height: 1920vw;
  width: 1080vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/*info CSS*/

.info {
  background-color: #000A4F;
  margin: 0;
}
.wishes {
  margin: 0 0 0 19vw;
  color: #FF0000;
  font-size: 12vw;
  font-family: 'Bebas Neue', cursive;
}

.first-half, p{
  color: white;
  font-size: 1.8vw;
  font-family: 'Playfair Display', serif;
}

.links,h3 {
  color: white;
}

.eduhead {
  margin-left: 4vw;
  font-size: 2vw;
  margin-bottom: 0;

}

p,ul {
  margin-bottom: 0;
}


.first-half {
  display: center;
}

.style13 {
    background-color: #000A4F;
    border-style: dotted none none;
    height: 0;
    border-width: 1vw;
    border-color: #B3B9B4;
    width: 20%;
}


.edu, .hobbies {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 1.8vw;
}

.reading-image {
    height: 30vw;
    width: auto;
}

h2.hobbies {
    color: red;
    margin-top: 0;
}

hr {
  margin-bottom: 0;
}

.short-info {
    margin-top: 0;
    color: white;
}

.hobbies {
    margin-left: 1.9vw;
    margin-top: 0;
}

.get-in-touch {
    margin-top: 0;
    font-family: 'Great Vibes', cursive;
    color: white;

    font-size: 9vw;
}

.fbicon {
    height: 20vw;
}
