body {
  margin: 0;
  font-family: Cinzel;
}
/*Navigation CSS STARTS*/
.topnav {
  overflow: hidden;
  background-color: #32004F;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2vw 12vw;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4E8892;
  color: #000000;
}
/*Navigation CSS ENDS*/
/*background images*/
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../img/image1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}
.bg2 {
  background-image: url("../img/image3.png");
  height: 1920vw;
  width: 1080vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/*info CSS*/

.info {
  background-color: #000A4F;
  margin: 0;
}
.wishes {
  margin-left: 19vw;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FF0000;
  font-size: 12vw;
  font-family: 'Bebas Neue', cursive;
}

.first-half, p{
  color: white;
  font-size: 1.8vw;
  font-family: 'Playfair Display', serif;
}

.links,h3 {
  color: white;
}

.eduhead {
  margin-left: 4vw;
}

p,ul {
  margin-bottom: 0;
}


.first-half {
  display: center;
}

hr.style13 {
	height: 10px;
	box-shadow: 0 10vw 10vw -10vw #C2FA01 inset;
  margin-bottom: 0;
  width: 50vw;
  border-style: dotted none none;
}

.edu {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

hr {
  margin-bottom: 0;
}
